{
    "token" : "BOT_TOKEN",
    "clientId" : "APP_ID",
    "guildId" : "SERVER_ID", // Discord server ID
    "serverDirectory" : "SERVER_DIRECTORY", // Example: Documents/MCServerFolder
    "ip" : "SERVER_IP",
    "mapPort" : "BLUEMAP_PORT" // Only required if server is using BlueMap
} 